body {
  width: 100vw;
  height: 100vh;
  background-image: url("../images/wanshitongslibrary.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  color: #afe8ff;
}

.header {
  padding: 50px 0;
  font-size: 96px;
  text-align: center;
  color: #34ff78;
}

.shelf-container {
  border: 1px solid #2f754f;
  background-color: #2f754fcc;
  margin: 50px auto;
  width: 1200px;
  height: 550px;
  border-radius: 2px;
}

.shelf-header {
  font-size: 48px;
  text-align: center;
  margin-top: 15px;
  border-bottom: 1px solid #00cf5d;
}

table {
  border-collapse: separate;
  border-spacing: 0;
  width: 100%;
  text-align: center;
  table-layout: fixed;
}
th,
td {
  border-bottom: 1px solid #00cf5d;
  padding: 10px 15px;
}
thead {
  background: #2f754f;
  color: #00cf5d;
}
td {
  border-bottom: 1px solid #00cf5d;
  border-right: 1px solid #00cf5d;
}
td:first-child {
  border-left: 1px solid #00cf5d;
}
th:first-child {
  width: 40%;
}


.form-popup {
  position: fixed;
  left: 40%;
  top: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 26px;
  display: none;
}

form li + li {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.form-container {
  border: 1px solid #00cf5d;
  border-radius: 12px;
  background-color: #00cf5d;
  width: 500px;
  height: 470px;
  padding: 20px;
  position: relative;
}

.form-title {
  text-align: center;
  margin: 12px 0;
}

.input-box {
  width: 95%;
  height: 31px;
  font-size: 18px;
  outline: none;
  border-radius: 3px;
  border: 1px solid #cecece;
  padding-left: 7px;
  margin-top: 8px;
}

.input-box:focus {
  border-color: #6ffa6a;
  box-shadow: 0 0 10px #6ffa6a;
}

.close-button {
  position: absolute;
  top: 15px;
  right: 20px;
  font-size: 26px;
  background-color: #00cf5d;
  border: 1px solid #00cf5d;
  width: 40px;
  height: 40px;
}

.close-button:hover {
  color: white;
}

.add-button, .new-button {
  height: 45px;
  width: 120px;
  margin: 0 auto;
  border: 1px solid #6ffa6a;
  background-color: #6ffa6a;
  border-radius: 3px;
  font-size: 16px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
}

.add-button:hover, .new-button:hover {
  transform: scale(1.1);
  border-color: #6ffa6a;
  box-shadow: 0 0 10px #6ffa6a;
}

.remove-button, .read-button {
  padding: 0 3px;
  border-radius: 4px;
  border: none;
  outline: none;
  font-size: 15px;
  margin: 0px 3px;
  width: 20px;
  height: 20px;
}

.remove-button {
  background-color: #cf1818;
}

.read-button {
  background-color: green;
}

.remove-button:hover, .read-button:hover {
  transform: scale(1.1);
}